body{
	background: url('../images/back.jpg') no-repeat;
	background-size:cover;
	font-family:Georgia;
	color:black;
}
.cadre{
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
	margin-top: 10%;
	border: 2px solid blue;
	border-radius: 10px;
	background-color: #f0f8ff;


}
.inp{
	border-radius: 40px;
	background-color: #4682b4;
	width: 50%;
	height: 50px;
	text-align: center;
	color: #fdf5e6;
	font-size: 25px;
}
.convert{
	border-radius: 20px;
	background-color: blue;
	width: 20%;
	height: 40px;
	text-align: center;
	color: white;
}
h1{
	margin-left: 40%;
	color: black;
	font-size: 50px;
	font-family: Georgia;
}
form{
	margin-right: 9%;
	margin-left: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
}
a{
	color: black;
	font-family: Georgia;
}
a:hover {
	color: red;
}
img:hover{
	color: yellow;
}